@charset "UTF-8";

body {
	font-family: Arial;	
	width: 100%; 
	text-align: center;
}

#col {
	background-color: #75deb7;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-weight: 10000;
	width: 100%; 
	text-align: center;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	text-decoration-line: none;
	color: white;
	font-weight: 1000;
}

a.title {
	width: 40%;
	font-size: xx-large;
	background-color: rgb(61 202 153/ 23%);
	font-family: Arial, Helvetica, sans-serif;
	text-decoration-line: none;
	color: black;
	text-align: center;
	font-weight: 1000; 
}